language: java

sudo: false

jdk:
  - openjdk11

cache:
  directories:
    - .autoconf
    - $HOME/.m2

notifications:
  email:
    recipients:
      - vladislav.96@mail.ru
    on_success: never
    on_failure: always

after_success:
  - bash <(curl -s https://codecov.io/bash)

env:
  global:
    - CODECOV_TOKEN=""

services:
  - postgresql

before_script:
  - psql -c 'create database job4j_url_shortcut;' -U postgres
  - psql -c 'create database job4j_url_shortcut_test;' -U postgres